/** {
  padding: 0;
  margin: 0;
}*/
body { background-color:lightgray; }
.interactive-map {
  display: block;
  width: 40%;
  margin:2% auto;
  max-width: 1200px;
  max-height: 800px;
/*  overflow: hidden;*/
  position: relative;
  border-radius: 10px;
}

.interactive-map > img {
  vertical-align: top;
  position: relative;
  width: 100%;
  border-radius: 10px;
}
.map-point img { width:25px; }
.map-point img,
.map-point span {
  cursor: pointer;
  outline: none;
  z-index: 2;
  position: absolute;
}

.map-point {
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

/* Tooltip CSS Start */

.mtooltip {
  display: block;
  position: absolute;
  z-index: 0;
}


/* Gap filler */

.mtooltip-item::after {
  content: '';
  position: absolute;
  width: 360px;
  height: 20px;
  bottom: 100%;
  left: 50%;
  pointer-events: none;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.mtooltip:hover .mtooltip-item::after {
  pointer-events: auto;
}


/* Tooltip */

.mtooltip-content {
  position: absolute;
  width: 256px;
  left: 50%;
  margin: 0 0 20px -114px;
  bottom: 100%;
  text-align: left;
  font-size: 1.5em;
  line-height: 1.4;
  box-shadow: -5px -5px 15px rgba(48, 54, 61, 0.2);
  background: #2a3035;
  opacity: 0;
  cursor: default;
  pointer-events: none;
}

.mtooltip-effect-4 .mtooltip-content {
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transform: scale3d(0.7, 0.3, 1);
  transform: scale3d(0.7, 0.3, 1);
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, transform 0.2s;
}

.mtooltip:hover .mtooltip-content {
  pointer-events: auto;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0);
  transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0);
}

.mtooltip:hover {
  z-index: 9999;
}


/* Arrow */

.mtooltip-content::after {
  content: '';
  top: 100%;
  left: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-top-color: #2a3035;
  border-width: 10px;
  margin-left: -10px;
  z-index: 99999;
}


/* Tooltip content*/

.mtooltip-text {
  font-size: 0.7em;
  line-height: 1.35;
  display: block;
  font-family: 'Open Sans';
  text-align: left;
  padding: 1.31em 1.21em 1.21em 1.8em;
  color: #fff;
  position: relative !important;
}

.clearfix {
  clear: both;
}